html {
  scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

#logo {
    height: 60px;
    margin-left: 150px;

}

.nav-link {
    font-family: ;
}

.body {
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#homepage {
    width: 100%;
    object-fit: cover;
}

.section1 {
    position: relative;
    color: white;
    text-align: center;
    height: 100%;
}


.heading {
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;
    background-color: rgba(247, 56, 56, 0.8);
    padding: 15px;
}



.section2 {
    padding: 20px;

}

.sec2_img {
    /* padding: 5px; */
    margin: 10px;
    width: 50%;
}

@media (max-width:767px) {
    .sec2_img{
        width: 100%;
    }
    .heading{
      font-size: small;
    }
}

@media (min-width:1688px) {
  .heading{
    font-size: 3vw;
  }
  
}



.section3 {
    height: 100%;
    width: 100%;
}

.card {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    height: 100%;
    width: 500px;
}


/* section 3 */
.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
  }

  .gallery-item img {
    height: 100%;
}

  @media (max-width: 767px) {
    .gallery-item {
      width: 150px;
    }
}

.section6{
    margin-top: 40px;
    width: 100%;
}

.social{
    height: 25px;
    width: 25px;
}

.section5{
    padding: 5px;
    margin: 5px;
}




a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .text-black {
    color: #000; }
  
  .content {
    padding: 7rem 0; }
  
  /* .heading {
    font-size: 2.5rem;
    font-weight: 900; } */

  #map{
    width:100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
  }
  
  form{
    padding: 3rem;
  }

  .form-control {
    border: none;
    background: #f3f3f3;
    border-radius: 23px; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000;
      background: #f3f3f3; }
  
  .col-form-label {
    color: #000; }
  
  .btn, .form-control, .custom-select {
    height: 50px; }
  
  .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }
  
  .btn {
    width: 100%;
    border-radius: 23px;
    background-color: rgb(209, 209, 209);
    color: black;
  }
  .btn:hover{
    background-color: rgb(194, 194, 194);
  }

  .fh{
    display: inline;
    font-size: 2.5rem;
    padding: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .align{
    text-align: center;
  }

  textarea.form-control {
    min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
}

.exterior{
  border: 1px solid rgb(221, 220, 220);
  border-radius: 23px;;
}

.wrapper{max-width: 1000px;margin: 50px auto;padding: 40px 20px}.wrapper .search{border: 1px solid #c8c8c8;overflow: hidden;border-radius: 25px;padding: 0 10px;margin: 15px 0 20px;transition: all 0.3s}.wrapper .search:hover, .wrapper .search:focus-within{border: 1px solid transparent;box-shadow: 2px 5px 8px #1f1f1f10, 0px -4px 5px #1f1f1f10}.wrapper .search .form-control{box-shadow: none;outline: none;border: none}.wrapper .search .form-control:focus::placeholder{opacity: 0}.wrapper .accordion-button{font-size: 0.9rem;font-weight: 500}.wrapper .accordion-button:hover{background-color: #f8f8f8}.wrapper .accordion-button:focus{box-shadow: none}.wrapper .accordion-button::after{background-size: 1rem;display: flex;align-items: center;justify-content: center;border: 1px solid #c8c8c8;background-position: center center;border-radius: 50%}.wrapper .accordion-button:not(.collapsed){color: #000;background-color: #f7f7f7;font-weight: 600;border-bottom: 1px solid #ddd !important}.accordion-button:not(.collapsed)::after{border-color: #1E88E5}.wrapper .accordion-button.collapsed{border-bottom: 1px solid #ddd !important}.wrapper .accordion-collapse.show{border-bottom: 1px solid #ddd !important}.wrapper .accordion-collapse{background-color: #eaf3fa}.wrapper .accordion-collapse ul li{line-height: 2rem;width: 100%;padding: 0.5rem 1.3rem}.wrapper .accordion-collapse ul li:hover{background-color: #c9e7ff}.wrapper .accordion-collapse ul li a{text-decoration: none;color: #333;font-size: 0.85rem;font-weight: 400;display: block}.wrapper .accordion-collapse ul li:hover a{color: #222}@media (max-width: 777px){.wrapper{margin: 50px 20px}}@media (max-width: 365px){.wrapper{margin: 50px 10px}.w-75{width: 90% !important}}
















3

.c-item {
  height: 100px;
}

.c-img {
  height: 25rem ;
  object-fit: cover;
  margin: auto;
  filter: brightness(0.6);
}

.btnc{
  border: 1px solid rgba(133, 133, 133, 0.5);
  border-radius: 23px;
}
/*blogs*/
